{
  "keyword": [
  	"prob": 0.7 //optional,
  	"options":{
  		{
  			"text": "some stuff", 
  			"prob": 0.3 //optional
  		},
	    {
	    	"text": "to say", 
	    	"prob": 0.2
	    },
	    {
	    	"text": "twhen the keyword appears", 
	    	"prob": 0.5 //optional
	    }
  	}
    
  ],
  "anotherkeyword": {
    {
    	"text": "more things"
    },
    {
    	"text": "to say", 
    	"prob": 0.7
    }
  }
}