{
  "keyword": [
    {"text": "some stuff", "prob": 0.3},
    {"text": "to say", "prob": 0.2},
    {"text": "twhen the keyword appears", "prob": 0.5}
  ],
  "anotherkeyword": [
    {"text": "more things", "prob": 0.3},
    {"text": "to say", "prob": 0.7}
  ]
}